* {
	font-family: 'Share', cursive;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
textarea {
	resize: none;
}

/* HexagonGrid.mjs Hexagon.mjs */
.hexagonGrid {
	position: relative;
	margin: 20px;
}
.hexagonNode {
	position: absolute;
	pointer-events: none;
}
.hexagonNode svg {
	position: absolute;
}
.hexagonNode .label {
	position: absolute;
	text-align: center;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0px 0px 2px #ffffff);
	user-select: none;
}
.hexagon {
	transform: scale(0.8, 0.8);
	pointer-events: none;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagon polygon {
	pointer-events: auto;
	fill: #aaaaaa;
}
.hexagonNode line {
	position: absolute;
	pointer-events: auto;
	stroke: #dddddd;
	stroke-width: 3;
	transition: 0.1s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode line:hover {
	stroke-width: 20;
}
.hexagonNode .node {
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	position: absolute;
	border-radius: 50%;
	pointer-events: auto;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode .nullStructure {
	background: #dddddd;
}
.hexagonNode .citySmall {
	opacity: 1;
}
.hexagonNode .nullStructure:hover {
	width: 25px;
	height: 25px;
	border-radius: 0;
}
.hexagon:hover {
	transform: scale(0.9, 0.9);
}

/* Player.mjs PlayerDisplay.mjs */
.playerDisplay {
	position: relative;
	float: right;
}
.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
.panel > .attribute {
	width: 100%;
}
.panel > .attribute > .attributeLabel {
	float: left;
	user-select: none;
}
.textAttribute {
	float: right;
}
