* {
	font-family: 'Share', cursive;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
textarea {
	resize: none;
}

/* HexagonGrid.mjs Hexagon.mjs */
.hexagonGrid {
	position: relative;
	/*margin: 20px;*/
	top: 50px;
	left: 50px;
}
.hexagonNode {
	position: absolute;
	pointer-events: none;
}
.hexagonNode svg {
	position: absolute;
}
.hexagonNode .label {
	position: absolute;
	line-height: 0.75;
	font-size: large;
	text-align: center;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0px 0px 2px #ffffff);
	user-select: none;
	opacity: 1;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode .backgroundLabel {
	position: absolute;
	line-height: 0.75;
	font-size: xx-large;
	text-align: center;
	transform: translate(-50%, -50%);
	/*filter: drop-shadow(0px 0px 2px #ffffff);*/
	user-select: none;
	opacity: 0.15;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode:has(.hexagon:hover) .backgroundLabel {
	opacity: 1;
	font-size: xxx-large;
}
.hexagonNode:hover .label {
	opacity: 1;
}
.hexagon {
	transform: scale(0.8, 0.8);
	pointer-events: none;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagon polygon {
	pointer-events: auto;
	fill: #aaaaaa;
}
.hexagonNode line {
	position: absolute;
	pointer-events: auto;
	stroke: #dddddd;
	stroke-width: 5;
	transition: 0.1s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode line:hover {
	stroke-width: 15;
	filter: drop-shadow(0px 0px 1px black);
}
.hexagonNode .node {
	transform: translate(-50%, -50%);
	width: 17px;
	height: 17px;
	position: absolute;
	border-radius: 50%;
	pointer-events: auto;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode .node:hover {
	filter: drop-shadow(0px 0px 1px black);
}
.hexagonNode .nullStructure {
	background: #dddddd;
}
.hexagonNode .nullStructure:hover {
	width: 20px;
	height: 20px;
}
.citySmall,
.cityLarge {
	opacity: 1;
}
.hexagonNode .citySmall:hover {
	width: 20px;
	height: 20px;
}
.hexagonNode .cityLarge {
	border: rgba(0, 0, 0, 0.5) 3px solid;
	outline: rgba(0, 0, 0, 0.5) 6px solid;
	outline-offset: -6px;
}
.hexagon:hover {
	transform: scale(0.9, 0.9);
}
.inactive polygon {
	animation-name: flashingOutline;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	stroke: red;
	stroke-width: 2;
	stroke-dasharray: 10, 5;
}

/* Player.mjs PlayerDisplay.mjs */
.playerDisplay {
	position: relative;
	float: right;
	display: flex;
	pointer-events: none;
	user-select: none;
}
.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	margin: 5px;
	padding-right: 3px;
	transition: 1s background cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.panel.playerSelf {
	border-top: 1px dotted black;
	border-right: 1px dotted black;
	border-radius: 4px;
}
.panel.winner {
	background: linear-gradient(90deg, gold, transparent);
}
.panel > .attribute {
	width: 100%;
}
.panel > .attribute > .attributeLabel {
	float: left;
	user-select: none;
}
.textAttribute {
	float: right;
}
.playerHost > .playerName > .attributeLabel {
	color: red;
}
.playerSelf > .playerName > .textAttribute {
	font-weight: bold;
}
.listAttribute {
	border-bottom: 2px black solid;
	border-left: 2px black solid;
	border-radius: 4px;
}

.bar {
	background: rgba(0, 0, 0, 0.5);
	display: block;
	margin-top: 0.5em;
	height: 0.3em;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.bar.barComplete {
	background: rgb(142, 230, 115);
	background: linear-gradient(
		90deg,
		rgba(142, 230, 115, 1) 0%,
		rgba(54, 230, 0, 1) 100%
	);
}

.hexagon {
	filter: drop-shadow(0px 0px 0px transparent);
}
.dropShadow:not(.inactive) {
	animation-name: dropShadow;
	animation-duration: 5s;
}
@keyframes dropShadow {
	0% {
		filter: drop-shadow(0px 0px 10px black);
		animation-timing-function: cubic-bezier(0.17, 0.67, 0.52, 0.96);
	}
	100% {
		filter: drop-shadow(0px 0px 0px transparent);
	}
}
.playerSelf .flashingOutline {
	animation-name: flashingOutline;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes flashingOutline {
	0%,
	100% {
		filter: drop-shadow(0px 0px 1px transparent);
	}
	50% {
		filter: drop-shadow(0px 0px 3px red);
	}
}

/* selectModal */
.selectModal {
	bottom: 0;
	position: absolute;
	margin: 3em;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	animation-name: slideFromRight;
	animation-duration: 0.5s;
}
.selectModalTitle {
	text-align: center;
	font-weight: bold;
}
.selectModal.hidden {
	animation-name: fadeOut;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	pointer-events: none;
}
.text-left {
	text-align: left;
}
@keyframes slideFromRight {
	0% {
		transform: translateX(-100px);
		animation-timing-function: cubic-bezier(0.17, 0.67, 0.52, 0.96);
	}
	100% {
		transform: translateX(0px);
	}
}
@keyframes fadeOut {
	0% {
		opacity: 1;
		animation-timing-function: cubic-bezier(0.17, 0.67, 0.52, 0.96);
	}
	100% {
		transform: translateX(100px);
		opacity: 0;
		display: none;
	}
}

/* inputModal */
.inputModal {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}
.inputModal.hidden {
	animation-name: fadeOut;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	pointer-events: none;
}

/* coding in css :^) */
button.startGame {
	display: none;
	float: right;
}
:has(.panel.playerHost.playerSelf) button.startGame {
	display: inline !important;
}
:has(.winner) .hexagonGrid {
	filter: sepia(0.4);
}
