* {
	font-family: 'Share', cursive;
}
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
textarea {
	resize: none;
}

/* HexagonGrid.mjs Hexagon.mjs */
.hexagonGrid {
	position: relative;
	/*margin: 20px;*/
	top: 20px;
	left: 20px;
}
.hexagonNode {
	position: absolute;
	pointer-events: none;
}
.hexagonNode svg {
	position: absolute;
}
.hexagonNode .label {
	position: absolute;
	line-height: 0.75;
	font-size: large;
	text-align: center;
	transform: translate(-50%, -50%);
	filter: drop-shadow(0px 0px 2px #ffffff);
	user-select: none;
	opacity: 0.5;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode:hover .label {
	opacity: 1;
}
.hexagon {
	transform: scale(0.8, 0.8);
	pointer-events: none;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagon polygon {
	pointer-events: auto;
	fill: #aaaaaa;
}
.hexagonNode line {
	position: absolute;
	pointer-events: auto;
	stroke: #dddddd;
	stroke-width: 5;
	transition: 0.1s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode line:hover {
	stroke-width: 15;
	filter: drop-shadow(0px 0px 1px black);
}
.hexagonNode .node {
	transform: translate(-50%, -50%);
	width: 17px;
	height: 17px;
	position: absolute;
	border-radius: 50%;
	pointer-events: auto;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hexagonNode .node:hover {
	filter: drop-shadow(0px 0px 1px black);
}
.hexagonNode .nullStructure {
	background: #dddddd;
}
.hexagonNode .nullStructure:hover {
	width: 20px;
	height: 20px;
}
.hexagonNode .citySmall {
	opacity: 1;
}
.hexagonNode .citySmall:hover {
	width: 20px;
	height: 20px;
	border-radius: 25%;
}
.hexagon:hover {
	transform: scale(0.9, 0.9);
}

/* Player.mjs PlayerDisplay.mjs */
.playerDisplay {
	position: relative;
	float: right;
}
.panel {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
}
.panel > .attribute {
	width: 100%;
}
.panel > .attribute > .attributeLabel {
	float: left;
	user-select: none;
}
.textAttribute {
	float: right;
}
.playerHost > .playerName > .attributeLabel {
	color: red;
}
.playerSelf > .playerName > .textAttribute {
	font-weight: bold;
}

.bar {
	background: rgba(0, 0, 0, 0.5);
	display: block;
	margin-top: 0.5em;
	height: 0.3em;
	transition: 0.2s all cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.bar.barComplete {
	background: rgb(142, 230, 115);
	background: linear-gradient(
		90deg,
		rgba(142, 230, 115, 1) 0%,
		rgba(54, 230, 0, 1) 100%
	);
}

/* coding in css :^) */
button.startGame {
	display: none;
}
:has(.panel.playerHost.playerSelf) button.startGame {
	display: block !important;
}
